{% extends 'core/base.html' %}

{% block title %}
    Sign Up
{% endblock %}

{% block content %}
    <div class="flex items-center justify-center min-h-screen bg-gray-100">
        <div class="w-full max-w-md bg-teal-100 rounded-lg shadow-lg p-8" style="box-shadow: 0 8px 16px rgba(245, 1, 212, 0.5);">
            <h1 class="text-3xl font-bold mb-6 text-center text-gray-800">Log In</h1>

                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <div class="mb-4">
                        <label for="{{ form.username.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-700">Username</label>
                        {{ form.username }}
                        {% if form.username.errors %}
                            <div class="text-red-500 text-sm mt-1">{{ form.username.errors }}</div>
                        {% endif %}
                    </div>
    
                    <div class="mb-4">
                        <label for="{{ form.password1.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-700">Password</label>
                        {{ form.password1 }}
                        {% if form.password1.errors %}
                            <div class="text-red-500 text-sm mt-1">{{ form.password1.errors }}</div>
                        {% endif %}
                    </div>
    
                    {% if form.errors or form.non_field_errors %}
                        <div class="text-red-500 text-sm mb-4">
                            {% for field in form %}
                                {{ field.errors }}
                            {% endfor %}
                        </div>
                    {% endif %} 
                    <button type="submit" class="w-full px-4 py-2 bg-teal-500 text-white rounded-lg font-bold hover:bg-teal-700 transition duration-300">Login</button>
                </form>
        </div>
    </div>
{% endblock %}
