{% extends 'core/base.html' %}

{% block title %}
    Index
{% endblock %}

{% block content %}
    <div class="flex h-screen overflow-y-auto">
            <!-- Left side div taking up the entire height and part of the width -->
            <div class="w-1/4 bg-gray-200 min-h-screen space-y-10 px-6 py-6">
                <!-- Content for the left side -->
                <h1 class="text-2xl font-semibold mb-4">Browse</h2>
                <form method="get" action="{% url 'core:search' %}" class="flex flex-col sm:flex-row items-center space-y-4 sm:space-y-0 sm:space-x-4">
                    <input type="text" name="query" class="w-full sm:flex-1 px-4 py-3 rounded-xl border border-teal-400 focus:outline-none focus:border-teal-500" placeholder="Search..." value="{{query}}">
                    <button type="submit" class="px-6 py-3 bg-teal-500 hover:bg-teal-700 text-white rounded-xl font-semibold">Search</button>
                </form>   
                <div class="space-y-6 space-x-3 font-semibold">         
                    {% for cat in Categories %}
                        <a href="{% url 'core:search' %}?query={{query}}&cat={{cat.id}}">
                            <p class="text-lg {% if cat.id == selectcat %}text-teal-300{% else %}text-black{% endif %}">{{ cat.name }}</p>
                        </a>
                    {% endfor %}
                </div>
                <h2 class="font-semibold text-2xl mb-4">Clear filters</h2>
                <a href="{% url 'core:search' %}">
                    <button class="rounded-xl bg-teal-400 px-20 py-6 hover:bg-teal-700 font-semibold text-white"> Clear </button>
                </a>
            </div>        
        
        <!-- Main content container -->
        <div class="flex-1 container mx-auto p-4">
            
            <!-- Welcome message for authenticated users -->
            {% if user.is_authenticated %}
                <div class="bg-gray-100 p-4 rounded mb-4 text-lg">
                    <h1>Welcome back, {{ user.username }}</h1>
                </div>
            {% endif %}

            <!-- Display messages -->
            {% for msg in messages %}
                <div class="bg-red-100 text-black p-4 border border-red-200 rounded mb-4 font-medium">
                    {{ msg }}
                </div>
            {% endfor %}

            <!-- Section for Newest Items -->
            <h1 class="text-3xl font-bold mb-6">Newest Items</h1>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 overflow-y-auto">
                {% for item in Items %}
                    <div class="bg-white rounded-lg shadow-md overflow-hidden">
                        <div class="p-4">
                            <h2 class="text-xl font-semibold mb-2">{{ item.name }}</h2>
                            <a href="{% url 'item:details' item.id %}">
                                <div class="flex justify-center">
                                    {% if item.image.url %}
                                        <img src="{{ item.image.url }}" alt="{{ item.name }}" class="object-cover rounded-t-xl w-full h-auto">
                                    {% else %}
                                        <div class="flex items-center justify-center w-full h-48 bg-gray-200 rounded-t-xl">
                                            <span class="text-gray-500">No Image Available</span>
                                        </div>
                                    {% endif %}
                                </div>
                            </a>
                            <h3 class="text-green-500 font-bold mt-2">{{ item.price }} SGD</h3>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
{% endblock %}





